  .login-heading {
    text-align: center;
  }
  
  .login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .login-form .inputs label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"],
  .login-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form input[type="submit"] {
    background-color: #e47d7d;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 9px;
  }
  


